
div, ul, li, a{
    margin : 0;
    padding : 0;
}
a{
    text-decoration: none;
}
.min-headerwrap{
    position: absolute;
    top : 0;
    left: 0;
    display: none;
    height: 30px;
    border : 1px solid blue;
    color: black;

}
.headerwrap{
    top : 0;
    left : 0;
    width: 100%;
    position: fixed;
    display : flex;
    flex-direction: column;
    height: 129px;
}

header{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

#header1{
    flex : 0.3;
    border-top: 1px solid #ddd;
}
#intro{
    position : relative;
    margin: 10px 0px;
    text-align: right;    
}
#intro > a{
    color: #666;
    font-size: small;
    padding : 3px;
}

#header2{
    flex : 1;
    border-top: 1px solid #ddd;
    border-bottom : 1px solid black;

}
#header2 > header{
    display: flex;
    
}
#logo{
    flex : 0.3;
    text-align: left;    
    display: inline-block;
    line-height: 81px;
    color : black;
    font-size: 35px;
    font-weight: 100;
    border-right: #333; /* 작동안함 */
}
#header2 > header > div{
    flex : 0.7;
}

#content {
    display : flex;
    list-style: none;
    height : 90px;
}
#content li{
    flex : 1;
    float : left;
    position: relative;
}
#content>li>a{
    display: block;
    color : #333;
    font-weight: bold;
    font-size : 15px;
    text-align: center;
    height: 100%;
    line-height: 82px;
    border-right: 1px solid #ddd;

}
#content li:hover ul{
    opacity: 1;
}
#content li{
    height: 100%;
    overflow: visible;
    padding : 0;
}
ul#sub-menu{
    list-style: none;
    position: absolute;
    left : 0; 
    top : 91px;
    width: 100%;
    height: 200px;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid #ddd;
    opacity: 1;
}
#sub-menu li{
    float : none;
    line-height: 50px;
    height : 50px;
}
#sub-menu li a{
    font-size : 13px;
    padding :initial; /* 잘 안됨.. */
    color : #333;
}
#sub-menu li:hover a{
    color : blue;
}


/*
#content{
    display: flex;
    list-style: none;
    
}

#content li{
    flex : 1;
    float : left;
}

#content li a{
    display: block;     
    color : #333;
    line-height: 81px;  
    height: 100%;       
    text-align: center; 

    font-weight: 800;
    font-size: 15px;
    border-right: 1px solid #ddd;

}
#sub-menu{
    list-style: none;
    position: absolute;
    left : 0;
    top : 40px;
    width : 100px;
    text-align: center;
    background-color: blanchedalmond;

}
#sub-menu li{
    list-style: none;
    font-size : 10px;

}
*/
@media screen and (max-width:850px){
    .headerwrap{
        visibility: collapse;
    }
    .min-headerwrap{
        display: flex;
    }
}
@media screen and (min-width:851px){
}

